@import "../utilidades/variables";
@import "../utilidades/extend";

/*Estilos Header y Nav*/
header {
    background-color: $color-background;
    color: $color-texto;


    .logo {
        display: flex;
        align-items: center;

        .navbar-brand {
            justify-content: space-between;
            font-weight: 600;
            padding: 0;

            img {
                width: 20%;
            }
        }

        .navbar-toggler {
            background-color: $color-contraste;
            opacity: 0.8;
            font-size: 0.8rem;
        }
    }


    .navbar-brand,
    .nav-link,
    .dropdown-item {
        color: $color-texto;

        &:hover {
            @extend %hover-contraste;
        }
    }

    .dropdown-item {
        &:active {
            color: whitesmoke;
        }
    }

    .links {
        justify-content: right;
        margin-right: 2rem;
        padding: 1rem;
        font-size: 1.2rem;

        .dropdown-menu {
            background-color: $color-background;
            opacity: 0.8;
            color: $color-texto;
        }

    }

}

@media screen and (min-width:600px) {


    .logo {
        .navbar-toggler {
            padding: 0.8rem 0.9rem;
        }
    }


}