@import "../utilidades/variables";
@import "../utilidades/extend";

/* ESTILOS DE PROJECTS PAGE */

/* estilos de projects page movil */

.projects {
    display: grid;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    width: 100%;

    .title-projects {
        @extend %title;

        h1,
        span {
            font-size: 2rem;
        }

        margin: 2rem 0 -4rem;
    }

    h2 {
        text-align: center;
        margin-top: 4rem;
        padding: 1rem;
        text-transform: uppercase;
    }

    .comics {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 5rem;
        justify-content: center;
        align-content: center;

        .comic {
            display: inline-block;
            justify-content: center;
            align-content: center;

            .comic-img {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                object-fit: cover;

                img {
                    width: 60%;
                    border: 2px solid $color-contraste;
                    align-content: center;
                    justify-content: center;
                }
            }

            .btn2 {
                @extend %projects-button;
            }
        }
    }

    .movies {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 5rem;
        justify-content: center;
        align-content: center;

        .movie {
            display: inline-block;
            justify-content: center;
            align-content: center;

            .movie-img {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                object-fit: cover;

                img {
                    width: 60%;
                    border: 2px solid $color-contraste;
                    align-content: center;
                    justify-content: center;
                }
            }

            .btn2 {
                @extend %projects-button;
            }
        }
    }


}



/* estilos projects page tablet */
@media screen and (min-width:600px) {

    .projects {
        margin-bottom: 7rem;
        .title-projects {
            h1,
            span {
                font-size: 3rem;
            }

        }

        h2 {
            margin-top: 5rem;
        }

        .comics {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 33% 33% 33%;
            row-gap: 3rem;

            .comic-img {
                margin-bottom: -10px;

                img {
                    width: 85%;
                    align-self: center;
                }
            }

            .btn2 {
                width: 32%;
            }

        }

        .movies {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 33% 33% 33%;
            row-gap: 3rem;

            .movie-img {
                margin-bottom: -10px;

                img {
                    width: 85%;
                    align-self: center;
                }
            }

            .btn2 {
                width: 32%;
            }

        }

    }
}

/* estilos para project page desktop */
@media screen and (min-width:1024px) {

    .projects {
        
        .comics {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 3rem;
            padding: 1rem;

            .comic-img {
                img {
                    width: 90%;
                    align-self: center;
                }
            }

            .btn2 {
                width: 30%;
            }
        }

        .movies {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 3rem;
            padding: 1rem;

            .movie-img {
                img {
                    width: 90%;
                    align-self: center;
                }
            }

            .btn2 {
                width: 30%;
            }
        }
    }

}