%hover-contraste {
    color: #E3913D;
    transition: 0.4s;
}

%hover-footer {
    background-color: black;
    color: #E3913D;
    box-shadow: 0.5px 0.5px 5px whitesmoke;
    transition: 0.4s;
}

%hover-about-button{
    border: 2px solid #E3913D;
    color: #E3913D;
    transition: 0.4s;
}